---
import { ViewTransitions } from 'astro:transitions';

---
<html lang="en">
  <head>
    <ViewTransitions transition:animate="slide" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Geny Files 📑</title>

    <meta name="description" content="Geny Files - Generate PDF files from Word template documents and inject your data via a simple API. Integrate it into your application or use it as a standalone service.">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Geny Files - PDF Generation Service">
    <meta property="og:description" content="Generate PDF files from Word template documents and inject your data via a simple API. Integrate it into your application or use it as a standalone service.">
    <meta property="og:image" content="https://genyfiles-chemah.vercel.app/geny-files.jpg">
    <meta property="og:url" content="genyfiles-chemah.vercel.app">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Geny Files - PDF Generation Service">
    <meta name="twitter:description" content="Generate PDF files from Word template documents and inject your data via a simple API. Integrate it into your application or use it as a standalone service.">
    <meta name="twitter:image" content="https://genyfiles-chemah.vercel.app/geny-files.jpg">

    <!-- import Caveat google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav id="navbar">
      <a id="title" href="/">Geny Files 📑 🚀</a>
    </nav>
    <slot></slot>
  </body>
</html>


<style>
  html {
    font-size: 16px;
  }

  /* declare the color variables */
  :root {
    --color-primary: #49963f;
    --color-primary-dark: #000000;
    --color-white: #fff;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
  }

  nav#navbar {
    background-color: #000;
    padding: 1rem;
  }

  a#title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    /*use coursive font from google fonts*/
    font-family: 'Caveat', cursive;
    text-decoration: none;
  }
</style>
