#toolbar {
  background-color: white;
  opacity: 0.9;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

#toolbar > #left-toolbar-items > #title {
  margin: 0;
  font-family: 'Caveat', cursive;
}

#left-toolbar-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  gap: 1rem;
}

#toolbar-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
  gap: 1rem;
}

.content {
  min-height: 30000px;
  padding: 1rem;
}


/* list */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.template-item {
  background-color: rgb(255, 255, 255);

  
  border-radius: 4px;
  
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease 0s;
}

.template-item:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ghost-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.ghost-button:hover {
  text-shadow: 0.5px 0 0 currentColor;
}

.rounded-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
