---
import Layout from '../../src/modules/shared/layouts/index.astro'
---
<Layout>
  <section id="introduction">
    <h2>👋 Welcome </h2>
    <p>
      Geny Files allows you to generate PDF files from Word template documents
      and inject your data into them via a simple API.
    </p>

    <p>
      Integrate it into your application and generate PDF files on the fly!
    </p>
    <p>
      Or use it as a standalone service and upload your templates via the web
      interface to generate PDF files with JSON data sources.
    </p>
    <a class="LinkButton--primary" href="/auth">
      Get Started
    </a>
  </section>
</Layout>


<style>
  h2 {
    margin: 0;
    padding: 1rem;
  }

  p {
    margin: 0;
  }

  #introduction {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* declare the color variables */
  :root {
    --color-primary: #49963f;
    --color-primary-dark: #000000;
    --color-white: #fff;
  }

  .LinkButton--primary {
    width: fit-content;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .LinkButton--primary:hover {
    background-color: var(--color-primary-dark);
  }
</style>