---

---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Geny Files 📑</title>
    <!-- import Caveat google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="title">Geny Files 📑 🚀</h1>
    <section id="introduction">
      <h2>👋 Welcome </h2>
      <p>
        Geny Files allows you to generate PDF files from Word template documents
        and inject your data into them via a simple API.
      </p>
  
      <p>
        Integrate it into your application and generate PDF files on the fly!
      </p>
      <p>
        Or use it as a standalone service and upload your templates via the web
        interface to generate PDF files with JSON data sources.
      </p>
    </section>
  </body>
</html>


<style>
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  h1#title {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 1rem;
    /*use coursive font from google fonts*/
    font-family: 'Caveat', cursive;
  }

  h2 {
    margin: 0;
    padding: 1rem;
  }

  p {
    margin: 0;
    padding: 1rem;

  }

  #introduction {
    max-width: 1000px;
    margin: 0 auto;
  }
</style>